ion-toolbar ion-button{

    --background: #fff;
    --color: #5B5858;
    --box-shadow:none;
    text-transform: none;
}

ion-toolbar img{
    height: 45px;
    width: auto;
    padding-right: 15px;
}