ion-toolbar ion-button{

    --background: #fff;
    --color: #5B5858;
    --box-shadow:none;
    text-transform: none;
    font-family: 'Segoe UI';
    --color:#6C7572;
    font-size: 15px;
}
ion-toolbar img{
    height: 45px;
    width: auto;
    padding-right: 15px;
}

ion-content{
    font-family: 'Segoe UI';
    --color:#6C7572;
    font-size: 18px;
}
.idcaptura{
    margin-left:70%;
    font-weight: 600;
}
.contenedor-datos{
    margin: 30px;
}
.contenedor-datos .cajita{
    display: flex;
}
.contenedor-datos .cajita .uno{
    font-style: bold;
    width: 100px;
    flex-grow: 1;
    font-weight: 600;
}
.contenedor-datos .cajita .dos{
    width: 100px;
    flex-grow: 2;
}
.direccion{
 
}
.captura{
    width: 80%;
    margin-top: 15px;
    font-weight: 600;
}

.captura ion-input{
    --background:#F3F3F3;
    border-radius:10px;
    margin-top: 8px;
    margin-bottom: 15px;
}
.foto{
    margin:30px;
    text-align: center;
    font-weight: 600;
}
.foto ion-button{
    --margin: 10px auto;
    --border-radius:15px;
    --background:#fff;
    color:#5B5858;
    --border-color:#5B5858;
    --border-style: solid;
    font-size: 18px;
}
.buttons {
    text-align:center;
    margin-top: 20px;
    margin-bottom:20px;
}
.buttons .visualizar  {
    --background: #fff;
    color:#5B5858;

}
ion-button{
    text-transform: none;
    margin:8px;
    --border-radius:15px;
    font-size: 18px;
}
.anomalias{
    width: 80%;
    
}
ion-item ion-label{
    font-family: 'Segoe UI';
    --color: #5B5858;
    font-weight: 400;
}

.swiper-slide-active{
    transform:scale(1.05,1.05);
    ion-card{
        img{
            transform:scale(1,1)
        }
    }
}
.swiper-slide{
    transition:400ms all ease-in-out;
}
ion-card{
    width:100%;
    height: 160px;
    //box-shadow: none;
    border-radius: 12px;
    img{
        object-fit: contain;
        width: 100%;
        transform: scale(1.1,1.1) rotate(1deg);
        transition:600ms all ease-in-out;
    }
}

//justify-content para alinear los items