<ion-toolbar color="primary">
 <ion-button color="primary" slot="start" [routerLink]="['/pendientes']">
       <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
       Volver
 </ion-button>
 <img slot=end src="/assets/logos/figura-blanco.png">
</ion-toolbar>

<ion-content>
      <div class="idcaptura"><ion-label>{{captureID}}</ion-label></div>
        
   <div class="contenedor-datos"> 
      <div class="cajita">
              <div class="uno"><ion-label>ID</ion-label></div>
            <div class="dos"><ion-label>{{id}}</ion-label></div>
      </div>
      <div class="cajita">
            <div class="uno" ><ion-label>Nombre</ion-label></div>
            <div class="dos"><ion-label>{{name}}</ion-label></div>
      </div>
      <div class="cajita">
                  <div class="uno"> <ion-label style="font-weight:600;">Dirección</ion-label> </div>
                  <div class="dos">
                     <ion-label>{{addres}}</ion-label><br>
                <!--     <ion-label>#108 {{numero}}</ion-label><br>
                     <ion-label>Col. Centro {{colonia}}</ion-label>
                 -->
                  </div>    
      </div>        
      <div class="cajita">
                <div class="uno"><ion-label>Lectura anterior</ion-label></div>
                <div class="dos"> <ion-label>{{last}}</ion-label></div>
      </div>  
      <div  class="captura">
                <ion-label>Ingresar lectura</ion-label>
                <ion-input [(ngModel)]="current" type="password"></ion-input>
                <ion-label>Confirmar lectura</ion-label>
                <ion-input [(ngModel)]="confirm" type="password"></ion-input>
      </div>
      <div class="anomalias">
        <ion-list>
          <ion-item>
            <ion-select
              multiple="true"
              placeholder="Seleccione anomalía"
              (ionChange)="handleChange($event)"
              (ionCancel)="pushLog('ionCancel fired')"
              (ionDismiss)="pushLog('ionDismiss fired')"
              
            >
              <ion-select-option *ngFor="let anomaly of details" value="{{anomaly.rowid}}">{{anomaly.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>  
   </div>


        
        <div class="foto">
          <ion-label>Capturar</ion-label><br>
         <ion-button size="large"><ion-icon name="camera-outline"></ion-icon></ion-button>  
        </div>
       
        <div class="galeria">
         
            <ion-slides [options]="option" class="ion-margin-top">
               <ion-slide>
                <ion-card>
                  <img src="/assets/logos/smartmetric-original.png">
                </ion-card>
               </ion-slide>
               <ion-slide>
                <ion-card>
                  <img src="/assets/logos/figura.png">
                </ion-card>
               </ion-slide>

            </ion-slides>

        </div>
        <div class="buttons">
           <ion-button class="visualizar" [routerLink]="['/reporte']" size="large">Visualizar</ion-button>
           <ion-button (click)="validation()" size="large">Finalizar</ion-button>

        </div>
</ion-content>

<!--    
      <div class="anomalias">
                   <ion-accordion-group>
                    <ion-accordion value="first">
                      <ion-item slot="header" color="light">
                        <ion-label>Anomalías</ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        <ion-list>
                          <ion-item *ngFor="let entry of detalles">
                            <ion-label>{{entry.name}}</ion-label>
                            <ion-checkbox (click)="getAnomalia(entry.name)" slot="end"></ion-checkbox>
                          </ion-item>

                          <ion-item>
                            <ion-label>Otro: </ion-label>
                            <ion-input [(ngModel)]="anomalia"></ion-input>
                            <ion-checkbox (click)="getAnomalia(anomalia)" slot="end"></ion-checkbox>
                          </ion-item>
                        </ion-list>
                      </div>
                    </ion-accordion>
          
                  </ion-accordion-group>
      </div>
      -->  