<ion-toolbar color="primary">
 <ion-button color="primary" slot="start" [routerLink]="['/pendientes']">
       <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
       Volver
 </ion-button>
 <img slot=end src="/assets/logos/figura-blanco.png">
</ion-toolbar>

<ion-content>
        
   <div class="contenedor-datos"> 
      <div class="cajita">
              <div class="uno"><ion-label>ID</ion-label></div>
            <div class="dos"><ion-label>{{client.id}}</ion-label></div>
      </div>
      <div class="cajita">
            <div class="uno" ><ion-label>Nombre</ion-label></div>
            <div class="dos"><ion-label>{{client.client.name}}</ion-label></div>
      </div>
      <div class="cajita">
                  <div class="uno"> <ion-label>Dirección</ion-label> </div>
                  <div class="dos">
                     <ion-label>{{client.address}}</ion-label>
                  </div>    
      </div>        
      <div class="cajita">
                <div class="uno"><ion-label>Lectura anterior</ion-label></div>
                <div class="dos"> <ion-label>{{client.last_measure}}</ion-label></div>
      </div>  
      <div [formGroup]="fgReading"  class="captura">
                <ion-label>Ingresar lectura</ion-label>
                <ion-input formControlName="current" type="password" pattern="[0-9]+"></ion-input>
                <ion-label>Confirmar lectura</ion-label>
                <ion-input formControlName="confirm" type="password" pattern="[0-9]+"></ion-input>
      </div>
      <div class="anomalias">
        <ion-list>
          <ion-item>
            <ion-select
              
              placeholder="Seleccione anomalía"
              (ionChange)="handleChange($event)"
              
            >
            <!--               <ion-select-option *ngFor="let anomaly of details" value="{{anomaly.rowid}}">{{anomaly.label}}</ion-select-option>
 --><!--multiple="true"-->
              <ion-select-option *ngFor="let anomaly of details" [value]="anomaly">{{anomaly.label}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>  
   </div>


        
        <div class="foto">
          <ion-label>Capturar</ion-label><br>
         <ion-button size="large" (click)="takePicture()"><ion-icon name="camera-outline"></ion-icon></ion-button>  
        </div>
       
        <div class="galeria">
 
          <ion-slides [options]="option" class="ion-margin-top">
             <ion-slide *ngFor="let photo of image">
              <ion-card >
                <img *ngIf="image" src="{{photo}}" >
              </ion-card>
             </ion-slide>
      
          </ion-slides>
      
      </div>
        <div class="buttons">
           <ion-button class="visualizar" (click)="report()" size="large">Visualizar</ion-button>
           <ion-button (click)="validation()" size="large">Finalizar</ion-button>

        </div>
</ion-content>

<!--
  [routerLink]="['/reporte', id]"
-->