<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ayuda</ion-title>
    <img slot=end src="/assets/logos/figura-blanco.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-accordion-group>
    <ion-accordion  *ngFor="let item of help">
      <ion-item slot="header" color="light">
        <ion-label>{{item.name}}</ion-label>
      </ion-item>
      <div class="description" slot="content" *ngFor="let desc of item.description">
        <ion-label>{{desc}}</ion-label> 
      </div> 
    </ion-accordion>  
  </ion-accordion-group>
  

  <div class="alinear">
    <img src="assets/logos/figura.png" width="83px" height="83px">
  </div>  
  
</ion-content>
