
ion-toolbar img{
    height: 37px;
    width: auto;
    padding-right: 15px;
}

.alinear{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height:  26vh;
}

ion-accordion-group{
 margin:15px;
 margin-top:30px;
 margin-bottom:25px;
 ion-accordion{
    margin-bottom:30px;
    border-radius: 15px;
    box-shadow: 3px 12px 9px 0px rgba(161,150,150,0.75);
    -webkit-box-shadow: 3px 12px 9px 0px rgba(161,150,150,0.75);
    -moz-box-shadow: 3px 12px 9px 0px rgba(161,150,150,0.75);
 }
}
ion-item{
    
    font-size: 22px;
    background-color: #fff;
    ion-label{
        padding: 8px;
        --color:rgb(37, 36, 36);

    }
}

.description{
    padding: 10%;
    font-size:20px;
}