<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ayuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <center>
  <button class="btn_cap">No descargo la ruta</button> <br>
  <button class="btn_cap">No se toma la imagen</button><br>
  <button class="btn_cap">No se conecta a la impresora</button><br>
  <button class="btn_cap">Error al capturar</button><br>
  <button class="btn_cap">Guía Smartmetric</button><br>
  </center>

  

  <div class="alinear">
    <img src="assets/logos/figura.png" width="83px" height="83px">
  </div>
</ion-content>
