<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pendientes</ion-title>
    <img slot=end src="/assets/logos/figura-blanco.png">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>

      <ion-title size="large">Pendientes</ion-title>

    </ion-toolbar>
  </ion-header>

  <ion-list>  
    
      
       <ion-card  [routerLink]="['/capturar', i]" *ngFor="let client of products; let i = index">
        <ion-card-subtitle id="id_user">ID {{client.id}}</ion-card-subtitle>
        <ion-card-header>
              
              <div class="cajita">
                <div class="uno">
                  <ion-card-subtitle>Dirección</ion-card-subtitle>
                  <ion-card-title>{{client.address}}</ion-card-title></div>
                <div class="dos">
                  <ion-card-subtitle>Nombre</ion-card-subtitle>
                <ion-card-title>{{client.client.name}}</ion-card-title>
                </div>
              </div>
              <div class="cajita">
                <div class="uno">
                  <ion-card-subtitle>Lote</ion-card-subtitle>
                  <ion-card-title>{{client.label}}</ion-card-title>
                </div>
                <div class="dos">
                  <ion-card-subtitle>Mes de lectura</ion-card-subtitle>
                  <ion-card-title>No registrado</ion-card-title>
                </div>
              </div> 
        </ion-card-header>        
       </ion-card>
       
      
  </ion-list>
    
  
</ion-content>

<!--
 <ion-list>  
            <ion-card [routerLink]="['/capturar', user.ref]" *ngFor="let user of users">
              <ion-card-subtitle id="id_user">ID {{user.ref}}</ion-card-subtitle>

              <ion-card-header>
                <ion-grid>
                  <ion-row>
                    <ion-col class="row_mar">
                      <ion-card-subtitle>Dirección</ion-card-subtitle>
                      <ion-card-title>{{user.address}}</ion-card-title><br>
                      </ion-col>
                      <ion-col>
                      <ion-card-subtitle>Nombre</ion-card-subtitle>
                      <ion-card-title>{{user.name}}</ion-card-title>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="row_mar">
                      <ion-card-subtitle>Medidor</ion-card-subtitle>
                      <ion-card-title>{{user.measurer}}</ion-card-title><br>
                      </ion-col>
                      <ion-col>
                      <ion-card-subtitle>Mes de lectura</ion-card-subtitle>
                      <ion-card-title>{{user.month}}</ion-card-title>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
            </ion-card>

  </ion-list>

-->

<!--
 <div>       
       <ion-card [routerLink]="['/capturar', product[i].id]" *ngFor="let product of products; let i = index">
              <ion-card-subtitle id="id_user">ID {{product[i].id}}</ion-card-subtitle>

              <ion-card-header>
                <ion-grid>
                  <ion-row>
                    <ion-col class="row_mar">
                      <ion-card-subtitle>Dirección</ion-card-subtitle>
                      <ion-card-title>{{product[i].address}}</ion-card-title><br>
                      </ion-col>
                      <ion-col>
                      <ion-card-subtitle>Nombre</ion-card-subtitle>
                      <ion-card-title>{{product[i].client.name}}</ion-card-title>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col class="row_mar">
                      <ion-card-subtitle>Lote</ion-card-subtitle>
                      <ion-card-title>{{product[i].label}}</ion-card-title><br>
                      </ion-col>
                      <ion-col>
                      <ion-card-subtitle>Mes de lectura</ion-card-subtitle>
                      <ion-card-title>No registrado</ion-card-title>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card-header>
         </ion-card>
    </div>



    <ion-card  [routerLink]="['/capturar', client?.id]" *ngFor="let client of product.data">
        <ion-card-subtitle id="id_user">ID {{client?.id}}</ion-card-subtitle>
        <ion-card-header>
          <ion-grid>
            <ion-row>
              <ion-col class="row_mar">
                <ion-card-subtitle>Dirección</ion-card-subtitle>
                <ion-card-title>{{client?.address}}</ion-card-title><br>
                </ion-col>
                <ion-col>
                <ion-card-subtitle>Nombre</ion-card-subtitle>
                <ion-card-title>{{client?.client.name}}</ion-card-title>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="row_mar">
                <ion-card-subtitle>Lote</ion-card-subtitle>
                <ion-card-title>{{client?.label}}</ion-card-title><br>
                </ion-col>
                <ion-col>
                <ion-card-subtitle>Mes de lectura</ion-card-subtitle>
                <ion-card-title>No registrado</ion-card-title>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-header>
        
       </ion-card>
-->

<!--
   para flexbox
  <div class="cajita">
                <div class="uno"></div>
                <div class="dos"></div>
              </div>
-->