<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pendientes</ion-title>
    <img slot=end src="/assets/logos/figura-blanco.png">
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pendientes</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list  *ngIf="products">
    <app-cards-products [routerLink]="['/capturar', i]" [client]="client" *ngFor="let client of products; let i = index"></app-cards-products>
  </ion-list>

    <div class="button">  <ion-button *ngIf="showButton()" size="large" (click)="download()">Descargar ruta</ion-button>
    </div>
   
</ion-content>

