#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .btn_cap{
      font-size: 20px;
      padding: 12px;
      color: #F66B00;
      background-color: white;
      border-radius: 25px;
      box-shadow: 0 0 7px rgba(0,0,0,0.8);
      margin-right: 20px;
  }
  
  .label{
    margin: 4%;
  }
  .label h2{
    color: #F66B00;
    font-size: 20px;
  }
  
  
  
  .btn_titulo{
    color: rgb(68, 68, 68);
    margin: 20px;
  }

  #id_user{
    margin-left: 27px;
    margin-top: 15px;
    font-weight: bold;
}

.row_mar{
  margin-right: 50px;
}

ion-card{
  --background: rgb(255, 250, 244);
  margin-bottom: 15px;
  border-radius: 20px;
  box-shadow: -9px -9px 0px -1px rgba(247,159,28,1);
-webkit-box-shadow: -9px -9px 0px -1px rgba(247,159,28,1);
-moz-box-shadow: -9px -9px 0px -1px rgba(247,159,28,1);
}