ion-toolbar ion-button{

  --background: #fff;
  --color: #5B5858;
  --box-shadow:none;
  text-transform: none;
}

ion-toolbar img{
  height: 37px;
  width: auto;
  padding-right: 15px;
}
.btn_titulo{
    color: rgb(68, 68, 68);
    margin: 20px;
  }
  
  .btn_cap{
    font-size: 20px;
    padding: 12px;
    color: #F66B00;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 7px rgba(0,0,0,0.8);
    margin: 20px;
  }