<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ruta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 

  <div class="card-cont">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ruta #001 </ion-card-title>
      </ion-card-header>
    
      <ion-card>
        <ion-card-header>
          <ion-card-title>Capturista: Javier perez</ion-card-title>
          <ion-card-title>Tiempo estimado: 2 hrs</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-card><br>
    <ion-card>
      <img src="assets/icon/map.PNG" />
      <ion-card-header>
        <ion-card-title>Ruta.1</ion-card-title>
        <ion-card-title>Direccion: pueblo de alamos</ion-card-title>
      </ion-card-header>
    </ion-card>
  </div>

  <center><button class="btn_cap">Descargar ruta</button></center>
  
</ion-content>
